body{
	text-align:center;
}
#wetter{
	background-color:#d2cfc6;
	border-radius:20px;
	border:2px solid black;
}
.Zeitpunkt{+
	font-size:120%;
	padding:0px;
	margin:0px;
}
.wetterDaten{
	background-color:#0288d1;
	margin:0px;
	padding:0px
}
.row{
	padding: 0px;
	margin: 0px;
}
.btnCity {
    background-color:#cccccc;
    color:black;
    padding:5px 5px 5px 5px;
    font-size:16px;
    border:none;
    cursor:pointer;
    width:150px;
    outline:none;
}
.btnCity:hover, .btnCity:focus {
    background-color:#a3a3a3;
}
#dropdown-content {
    position:relative;
}
#dropdown {
    position:absolute;
	top:44px;
	bottom:0;
	left:15px;
    background-color:#fcfdff;
    width:150px;
	z-index:2;
}
#dropdown button {
    color:black;
    border-bottom:1px solid #acacac;
	border-right:none;
    padding:5px 5px;
    display:block;
    cursor:pointer;
    width:150px;
    box-shadow:none;
}
#dropdown button:hover {
    background-color:#cecece;
}